body{
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}
.navbar{
  display: flex ;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li {
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

a p {
  font-family: Arial, Helvetica, sans-serif;
}
.font{
  background-image: url(./ug.1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;

}
.container{
  width: 800px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col-auto {
  flex: 0 0 auto;
}
.col {
  flex: 1 0 0;
}
[class^="col"] {
  padding: 0.5rem;
}

.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
}
.col-8 {
  flex: 0 0 66.666666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-11 {
  flex: 0 0 91.66666667%;
}
.col-12 {
  flex: 0 0 100%;
}
img{
  width: 250px;
  height: 341px;
}
.grey{
  color: grey;
}
.red{
  color: red;
}
.white{
  color: white;
}
.white1{
  color: white;
  background-color: black;
}
